body
{
background-image:url("fondo.png");
text-align: center;
background-position:left top;
}

#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid rgb(250, 250, 250);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

h3 
{
 font-family:Forte;
}
p
{
    font-family:Forte;
}

h1
{
    font-family:Forte;
}

